<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="home.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
    </style>
      <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <title>UNKNOWN SECRETS</title>
  </head>
  <body>
    <header class="header-footer">
      <button class="home-button" onclick="window.location.href='/normalhome'">
        <i class="fa-solid fa-house"></i>
      </button>
      <h1 class="title">About Page</h1>
      <button
        class="create-button"
        onclick="window.location.href='/confession'"
      >
      <i class="fa-solid fa-envelope"></i>
      </button>
    </header>
   <div class="about">
    <h3 style="text-align: center; padding-top: 90px;">
      Hello everyone, you may be wondering about the purpose of this website. We provide a platform for you to anonymously submit your posts, which can be seen by everyone. We aim to offer a safe and secure way for you to  <strong> <br> express yourself freely. </br></strong>
  </h3>
  <ul>
      Important points:
      <li>
          You can create an account anonymously, and your IP address will be kept secure.
      </li>
      <li>
          You can share your secrets anonymously that you may not be able to tell publicly.
      </li>
      <li>
          We provide a great UI web interface for you to use.
      </li>
      <li>
          We welcome your suggestions to make changes to the website.
      </li>
      <li>
          We update the website every week with new features and improvements.
      </li>  
    </ul>
    
   </div>
   
  </body>
</html>
