<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <title>SECRETS</title>
    <link rel="stylesheet" href="home.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
    </style>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");
    </style>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Quattrocento&display=swap");
    </style>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="shortcut icon" src="/images/favicon.png" type="image/x-icon">
  </head>
  <body>
    <header class="header-footer">
      <button class="home-button" onclick="window.location.href='/normalhome'">
        <i class="fas fa-home"></i>
      </button>
      <h1 class="title">Notification</h1>
      <button
        class="create-button"
        onclick="window.location.href='/about'"
      >
      <i class="fa-solid fa-circle-info"></i>
      </button>
    </header>
    </div>
    <div class="main-body" style="padding-top: 90px;">
      <% foundpost.reverse().forEach(function(found) { %>
        <form action="/message" method="post">
          <div class="post" style="background-color: <%= found.status === 'Approved' ? 'greenyellow' : found.status === 'Disapproved' ? 'red' : 'white' %>;">
            <div class="post-header">
              <div class="logo">
                  <img src="/images/logo.png">
              </div>
              <div class="post-username">
                <h3><%= found.title %></h3>
              </div>
            </div>
            <div class="post-content">
              <p><%= found.content %></p>
            </div>
            <input type="hidden" name="postid" value="<%= found._id %>" />
            <button class="reject" name="delete" value="delete">DELETE</button>
          </div>
        </form>
      <% }); %>
    </div>
    <footer class="twitter-footer">
      <div class="plus">
        <button class="plus-icon-container" onclick="window.location.href='/confession'">
          <i id = "plus" class="fa-solid fa-circle-plus fa-3x"></i>
        </button>
        </div>
      <div class="twitter-footer-content">
        <p>Revealing New Secrets Everyday</p>
      </div>
    </footer>
   
  </body>
</html>
